.Container {
    display: flex;
    height: 810px;
    max-width: 100%;
}
.Img {
    flex: 2;
    width: 200px;

}
form {
    float: 1;
    background-color: #eee;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
    padding-left: 75px;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="date"] {
    width: 110%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
select {
    width: 110%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 40px;
    font-size: 15px;
}
select option {
    background-color: #fff;
    color: #333;
    font-size: medium;
    padding: 20px;
}
/* select option:hover {
    background-color: #8a0c0c;
    color: #3531EC;
    
} */
#level {
    margin-left: 30px;
}
button[type="submit"] {
    font-size: 1em;
    background-color: #3531EC;
    color: white;
    padding: 14px 20px;
    margin: 25px 100px 10px;
    border: 1px solid #7E7E7E;
    border-radius: 50px;
    cursor: pointer;
    width: 300px;
}
button[type="submit"]:hover {
    filter: drop-shadow(0 0 0.5em #646cffaa);
}
.input-group {
    display: flex;
    width: 550px;
}
.input-group input {
    flex: 1;
}
#email {
    width: 550px;
}

.register-page {
    margin-left: 165px; 
}

.register-page p {
    font-size: 0.91em;
}

.register-page a {
    color: blue; 
    text-decoration: none; 
}

.register-page a:hover {
    color: darkblue;
}
.Message{
    opacity: 1;
    color: red;
    margin: 0;
    padding: 0;
    text-align: center;    
}
.PassMessage {
    opacity: 0;
    height: 0;  
}
.Checked p {
    transition: opacity 0.5s ease, height 0.5s ease;
}
ul {
    margin-top: 0;
    padding-top: 0;
}
li {
    margin: 0;
    padding: 0;
    margin-left: 60px;
}

.criteria-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.criteria-list li {
    transition: opacity 1s ease-in, height 1s ease-in; /* Smooth transition for opacity and height */
}

.invisible {  /* if the criteria checked make it invisible */
    opacity: 0;
    height: 0;
    pointer-events: none; /* Disable pointer events to prevent interaction with invisible elements */
}
.visible {   /* if the criteria not checked make it visible */
    opacity: 1;
    height: 21px;
}

