body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    width: 100%;
    background-color: #001C27;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo { 
    height: 60px;
    width : auto;
    margin : 5px 35px;
    z-index: 10001;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}





/** Try to put media in header component */

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .header {
    width: 110%;
  }
}